.preFootersec{
    display: flex;
    gap: 3rem;
    margin-bottom: 5rem;
}


.jobCon{
    width: 60%;
    padding: 2rem;
    border-radius: 20px;
    background-color: #F7FAFC;
}

.comPodCon{
    display: flex;
    border-radius: 20px;
    background-color: white;    
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    width: 40%;
}

