.hero {
    background-color: #101225;
}

.heroCon {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 5rem 0rem;
}

@media (min-width: 914px) {
    .heroCon {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5rem 0rem;
        gap: 2rem;
    }
}



.heroCon h1 {
    font-size: 3rem;
    text-align: center;
    color: white;
    font-weight: 600;
}

@media (min-width: 914px) {
    .heroCon h1 {
        text-align: left;
        font-size: 5rem;
        width: 80%;
        color: white;
        font-weight: 600;
    }
}

.heroCon>div>p {
    color: #CBD5E0;
    line-height: 200%;
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

@media (min-width: 914px) {
    .heroCon>div>p {
        width: 100%;
        text-align: left;
    }

}

.heroBtnCon {
    display: flex;
    gap: 2rem;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
}

@media (min-width: 914px) {
    .heroBtnCon {
        display: flex;
        gap: 2rem;
    }

}

.listing {
    display: flex;
    gap: 2rem;
    width: 80%;
    justify-content: space-between;
    margin-top: 1rem;
}

.listing>div {
    display: flex;
    flex-direction: column;
    gap: .2rem;

}

.listing h2 {
    color: #CBD5E0;
}

.listing p {
    color: #CBD5E0;
    font-size: 1rem;
}

.middleChild {
    padding: 0rem 2rem;
    border-left: 2px solid #E2E8F0;
    border-right: 2px solid #E2E8F0;
}