.sliderSection{
    padding: 3rem 0rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.sliderSection p{
    text-align: center;
    font-weight: 300;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.iconCon{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    overflow-x: scroll;
}